*{
    box-sizing: border-box;
}

body {
    background-color: #FBFBFB;
    background-image: url('image/staysafe.jpg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right;
    color: #622F72;
    
}

header {
    display: flex;
    justify-content: space-between;
    padding: 9px 70px 3px;
    font-family: 'Montserrat'
}

.branding {
    font-size: 34px;
    font-weight: 600;
    opacity: 90%;
    text-align: left;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    opacity: 90%;
}